footer{
    width: 100%;
    height: 80px;
    background-color: black;
    border-top: var(--green-color) solid 35px;
}
footer section{
    display: grid;
    color: white;
    text-align: center;
}
