@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
/* Inicio Variables */
:root{
    /* Colores */
    --green-color: #47cfac;
    --grey-color: #e6e9ed;
}
/* Fin variables */
body{
    font-family: 'Roboto mono', monospace;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--green-color) ;
}

header .header-icons-container .icons{
    width: 350px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
    margin-top: 10px;
}

nav .nav-profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end ;
    margin-right: 50px;
}

nav .nav-profile-link a{
    color: black;
    border-bottom: black 1px solid;
}