.grid-container{
    max-width: 1200px;
    margin: auto;
}
.home-body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../assets/Imágenes/Cover.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.home-main-text{
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
}
.home-main-button{
    width: 110px;
    height: 50px;
    background-color: var(--green-color);
    display: grid;
    align-items: center;
}
.home-main-button a{
    font-weight: 700;
    font-size: 18px;
}
.blog-main{
    display: grid;
}
.blog-news-container{
    background-color: var(--grey-color);
    padding: 0 50px 40px;
}
.blog-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blog-news-img-container{
    grid-column: 1;
}
.blog-news-img-container img{
    width: 80%;
}
.blog-news-info-container{
    grid-column: 2;
}
.blog-news-info-container p{
    margin-bottom: 35px;
}
.blog-posts-container{
    padding: 0 50px 40px;
}
.blog-posts-container h3{
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
    text-align: center;
}
.blog-button{
    border: 1px solid var(--green-color);
    padding: 10px 15px;
    font-size: 12px;
}

.blog-posts-container .post-container{
    display: inline-block;
    padding-left: 10px;
    max-width: 30%;
    margin-bottom: 50px;
}
.blog-posts-container .post-container p{
    margin-bottom: 35px;
}
.blog-posts-container .post-container img{
    width: 100%;
}
.blogpost-img-container{
    padding: 0 50px 40px;
}
.blogpost-img-container img{
    width: 100%;
}
.blogpost-main-container{
    padding: 0 50px 40px;
}
.blogpost-main-container h3{
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.blogpost-main-container article h1{
    font-size: 35px;
}
.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color: lightgray;
    text-align: center;
    padding-bottom: 50px;
}
.contact-main-container div{
    display: inline-block;
    width: 49.5%;
    height: 100%;
}
.contact-main-container div a{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}
.contact-main-container .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}
.contact-main-container img{
    width: 100px;
}
.profile-main-container{
    padding: 70px 40px;
    background-color: var(--grey-color);
    margin-bottom: 50px;
}
.profile-main-container img{
    width: 320px;
    margin-right: 30px;
}
.profile-main-container .profile-container{
    display: flex;
}
.profile-main-projects{
    padding: 0 50px 40px;
}
.profile-main-projects h3{
    border-bottom: 1px solid var(--grey-color);
    padding-bottom: 35px;
    text-align: center;
}
.projects-main-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.project-container{
    padding: 0 5px;
    
}