@media (max-width: 900px){
    .blog-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blog-news-img-container{
        grid-row: 2;
    }
    .blog-news-info-container{
        grid-column: 1;
        grid-row: 3;
    }
    .blog-posts-container .post-container{
        max-width: 45%;
    }
    .projects-main-container{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container{
        display: block;
    }
}

@media(max-width: 600px){
    .blog-posts-container .post-container{
        max-width: 95%;
    }
    .projects-main-container{
        grid-template-columns: 1fr;
    }
}